@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="text-center sidebar-brand-wrapper d-flex align-items-center">
        <a class="sidebar-brand brand-logo" href="../../index.html"><img src="~/Breeze-Free-Bootstrap-Admin-Template-1.0.0/template/assets/images/logo.svg" alt="logo" /></a>
        <a class="sidebar-brand brand-logo-mini pl-4 pt-3" href="../../index.html"><img src="~/Breeze-Free-Bootstrap-Admin-Template-1.0.0/template/assets/images/logo-mini.svg" alt="logo" /></a>
    </div>
    <ul class="nav">
        <li class="nav-item nav-profile">
            <a href="#" class="nav-link">
                <div class="nav-profile-image">
                    <img src="@ViewBag.Image" alt="profile" />
                    <span class="login-status online"></span>
                    <!--change to offline or busy as needed-->
                </div>
                <div class="nav-profile-text d-flex flex-column pr-3">
                    <span class="font-weight-medium mb-2">@ViewBag.NameSurname</span>
                    <span class="font-weight-normal"></span>
                </div>
                <span class="badge badge-danger text-white ml-3 rounded">@ViewBag.Count</span>
            </a>
        </li>


        <li class="nav-item">
            <a class="nav-link" href="/Writer/Dashboard/Index/">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">@localizer["Dashbord"]</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Message/MessageList/">
                <i class="mdi mdi-message-text menu-icon"></i>
                <span class="menu-title">@localizer["Mesajlarım"]</span>
            </a>
        </li>


        <li class="nav-item">
            <a class="nav-link" href="/Writer/Blog/MyBlogList/">
                <i class="mdi mdi-database menu-icon"></i>
                <span class="menu-title">@localizer["Bloglarım"]</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Chart/Index/">
                <i class="mdi mdi-chart-bar menu-icon"></i>
                <span class="menu-title">@localizer["Grafik"]</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Writer/Support/SendMessage/">
                <i class="mdi mdi-face-agent menu-icon"></i>
                <span class="menu-title">@localizer["Destek"]</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Writer/Profile/Index/">
                <i class="mdi mdi-settings menu-icon"></i>
                <span class="menu-title">@localizer["Ayarlar"]</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Login/LogOut">
                <i class="mdi mdi-logout menu-icon"></i>
                <span class="menu-title">@localizer["Çıkış Yap"]</span>
            </a>
        </li>

    </ul>
</nav>